.container {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 0fr;
  transition: grid-template-rows 0.3s ease;

  &--with-movies {
    grid-template-rows: 0.12fr 1fr;
  }
}