.customTable {
	border: 1px solid $colorDdd;
	border-radius: 4px;
	overflow: hidden;

	&__table {
		width: 300px;
		height: 300px;
		border-collapse: collapse;
		border: none;
	}
	
	&__head,
	&__colum {
		padding: 8px;
		text-align: left;
		border: 1px solid $colorDdd;
	}

	&__head {
		font-weight: bold;
		background-color: $background-for-table;
	}

	&__row:nth-child(even) {
		background-color: $background-for-table;
	}

	&__row:hover {
		background-color: #ddd;
	}
}